      body{
        background-color:#ffbfda;
        margin-left: 20%;
        margin-right: 20%;
        border: 2px dotted black;
        padding:10px 10px 10px 10px;
        font-family: san-serif;
      }
      h1{
        color:#fa0000;
      }
      h2{
        color:#fa0000;
      }
      img{
        
      }